.footer-container {
    width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #242F66;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 7 20px;
  }
  
  .footer-content div {
    flex: 1;
  }
  
  .footer-content ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-content a {
    color: white;
    text-decoration: none;
  }
  
  .get-in-touch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    gap:7px;

  }
  
  .get-in-touch p {
    margin-right: 20px;
    font-size: 0.8em;
    
  }
  
  .footer-text {
    width: 100%;
    height: auto;
    font-size: 0.8em;
  }
  